/**
*	MKH Player css
*
**/

.audioWrapper{
	background:transparent ;
	position: relative;
	min-height: 36px;
}
.functionControl,.volumeControl,.main-content .functionControl, .main-content .volumeControl{
	color:#fff;
	text-decoration: none;
	text-indent: -1000px;
	display: block;
	overflow: hidden;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 7px;
	
	background-image: url(../images/podcast/controls.png);
	background-size: 80px 20px;
}

.slide1-lineup .functionControl, .slide1-lineup.volumeControl,.slide1-lineup .main-content .functionControl, .slide1-lineup .main-content .volumeControl{
	color:#fff;
	text-decoration: none;
	text-indent: -1000px;
	display: block;
	overflow: hidden;
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 74px;
	height: 74px;
	margin-top: 7px;
	
	background-image: url(../images/podcast/controls-intro.png);
	background-size: 148px 74px;
}



.playState{
	background-position: 0px 0px;
}
.slide1-lineup .pauseState{
	background-position: -74px 0px;
}
.pauseState{
	background-position: -20px 0px;
}
.loudState{
	background-position: -40px 0px;
}
.muteState{
	background-position: -60px 0px;
}
.volumeWrapper{
	float: right;
	min-height: 7px;
	min-width: 100px;
	background:rgba(0,0,0,.3);
	position: relative;
	margin-top: 1px;
	margin-right: 1px;
}

.currentTime,.durationTime{
	float: left;
	margin-top:5px;
	font-size:14px;
	margin-left: 10px;
	color: #0eabb9  ;
	font-family: "Raleway-ExtraBold";
}

.progressWrapper{
	position: relative;
	float: left;
	margin-left: 10px;
	min-height: 5px;
	top:14px;
	background:#fff ;
	z-index: 10;
	cursor: pointer;
}

.progressBar{
	position: absolute;
	min-height: 5px;
	width:0%;
	background:#ff0055 ;
	cursor: pointer;
	z-index: 11;
}


.slide1-lineup .currentTime,.slide1-lineup .durationTime{
	display: none;
}

.slide1-lineup .progressWrapper{
	display: none;
}

.slide1-lineup .progressBar{
	display: none;
}

