nav ul li {
	display: inline-block;
	list-style: none;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	width: 16%;
}
nav li a {
  color: #ffffff;
  font-size: 1.2em;
  border: 1px solid rgba(0,0,0,0) ;
  border-radius: 20px;
  padding: 7px 17px 9px 18px;
  -webkit-transition: all .2s ease-in-out;
  cursor: pointer;
}

nav li a:hover , #nav li a:focus, #nav li a:active {
  color: #03E8FC;
  border: 1px solid #03E8FC ;
  background-color: rgba(0,0,0,0) ;
  -webkit-transition: all .2s ease-in-out;
  cursor: pointer;
}

/******************************/
/*********** CORPO ************/

nav ul li.cta-corpo {
	display: inline-block;
	list-style: none;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	width: 16%;
}
nav li.cta-corpo a {
  color: #ffffff;
  font-size: 1.2em;
  border: 1px solid rgba(0,0,0,0) ;
  background-color: #FF004C;
  border-radius: 20px;
  padding: 4px 12px 4px 12px;
  -webkit-transition: all .2s ease-in-out;
  cursor: pointer;
}

nav li.cta-corpo a:hover , #nav li.cta-corpo a:focus, #nav li.cta-corpo a:active {
  color: #03E8FC;
  border: 1px solid #03E8FC ;
  background-color: rgba(0,0,0,0) ;
  -webkit-transition: all .2s ease-in-out;
  cursor: pointer;
}

/*********** CORPO ************/
/******************************/

.dropdown {
    position: relative;
    display: inline;
}

.dropdown a:focus, .dropdown a:active {
  background-color: #353152 ;
  -webkit-transition: all .2s ease-in-out;
  z-index: 3;
}

.active a.dropbtn {
	background-color: #353152 ;
	border: 1px solid #03E8FC ;
	-webkit-transition: all .2s ease-in-out;
	z-index: 3;
	position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #000;
    text-align: center;
    box-shadow: none;
    border-radius: 0px 0px 20px 20px;
    border: none;
    left: 0;
    right: 0;
    margin-top: -5px;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}
.show {display:block;}

.dropdown-content ul li {
	display: block;
	margin-top: 0.7em;
}

.dropdown-content ul {
	padding-left: 0em;
	padding-bottom: 0.7em;
}

.dropdown-content a {
	color: #ffffff;
	font-size: 1.3em;
	border: 0px ;
	border-radius: 0px;
	padding: 7px 12px 9px 12px;
	-webkit-transition: all .2s ease-in-out;
	cursor: pointer;
}
.dropdown-content a:hover {
	color: #03E8FC;
	font-size: 1.3em;
	border: 0px ;
	border-radius: 0px;
	padding: 7px 12px 9px 12px;
	-webkit-transition: all .2s ease-in-out;
	cursor: pointer;
}

.dropdown-content li {
	width: 100%;
}

nav ul {
	list-style:none;
	margin-left: 0em;
}

#menuToggle {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.closebtn {
	display: none;
}

nav {
	margin-top: 2em;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.page-events nav , .page-lieu nav , .page-ikigai nav , .page-fintech nav {
	z-index: 20;
	position: absolute;
	top: 15em;
	width: 100%;
	max-width: 1100px;
    right: 0;
    left: 0;
    margin: auto;
}

.homepage nav {
	margin-top: 5em;
}

/*
.page-cours-audio .slide1 * {
	box-sizing: content-box !important;
}
*/

@media screen and (min-width: 1399px) {
	.page-events nav , .page-lieu nav , .page-ikigai nav , .page-fintech nav {
		top: 15em;
	}
}
@media screen and (min-width: 1585px) {
	.page-events nav , .page-lieu nav , .page-ikigai nav , .page-fintech nav {
		top: 18em;
	}
}
@media screen and (min-width: 1750px) {
	.page-events nav , .page-lieu nav , .page-ikigai nav , .page-fintech nav {
		top: 18em;
	}
}
@media screen and (min-width: 1921px) {
	.page-events nav , .page-lieu nav , .page-ikigai nav , .page-fintech nav {
		top: 20em;
	}
}

@media screen and (max-width: 930px) {
	.page-events nav , .page-lieu nav , .page-ikigai nav , .page-fintech nav  {
		top: 0em;
	}
	#menuToggle {
		display: block;
	}
	.navigation {
		display: none;
	}
	.openNav {
		display: block;
	}
	.openNav li {
		display: block;
		width: 100%;
		margin-top: 1em;
	}
	nav ul li.cta-corpo {

		width: 100%;
		margin-left: 10px;
	}
	ul.openNav {
		background-color: #000;
		position: absolute;
		top:0;
		left: 0;
		text-align: left;
		transition: 0.5s;
		z-index: 3;
		padding-top: 1.7em;
		padding-bottom: 1em;
		padding-left: 1em;
	}
	.openNav .closebtn {
		display: initial;
		position: absolute;
    	top: 0;
    	right: 25px;
    	font-size: 50px;
    	margin-left: 50px;
    	color: #ffffff;
	}
	.openNav .dropdown-content {
		text-align: left;
		padding-left: 1.7em;
		position: relative;
		padding-top: 0.7em;
	}
	.dropdown-content ul {
		text-align: left;
	}
}
