/******************************/
/************* MAIN ***********/
body {
    position: relative;
}
.newsletter {
    display: none;
}
img.logo-wakeup {
    width: 140px;
    position: absolute;
    top: 2em;
    margin: auto;
    left: 0px;
    right: 0px;
}
.site-main {
    background-color: #ffffff;
}
@media screen and (max-width: 550px) {
    img.logo-wakeup {
        width: 110px;
    }
}
@media screen and (max-width: 400px) {
    img.logo-wakeup {
        width: 130px;
    }
}
.float-left {
    float: left;
}

p {
    font-family: 'Raleway-Regular';
}

.content-area {
    overflow-x: hidden;
}

.btn-cta-boussolepro {
    display: inline-block;
    background-color: #ff0055;
    border-radius: 25px;
    color: #f9edcf;
    padding: .5em 1.5em;
    font-family: 'raleway-black';
    text-transform: none;
}
.btn-cta-boussolepro:hover {
    background-color: #ef0045;
    color: #e9ddbf;
}

/******************************/
/********** SLIDE 1 ***********/



.slide1 {
    max-width: 100%;
    padding-top: 20em;
    padding-bottom: 5em;
}
.quote-item-container {
    margin-right: 1em
}

.quote-slide1 {
    width:80%
}

h1 {
    color: white;
    font-family: 'Raleway-Black';
    font-size: 2.7em;
    margin-top: 2em;
    padding-left: 0px;
}

p.txt-slide-1 {
    padding-left: 0px;
    color:white;
    margin-top: 2.2em;
    font-size:1.3em;
    width:80%;
}


.container-pulse-logo {
    position: relative;
}

img.logo-boussole-pro {
    max-width: 270px;
    margin-left: 0px;
    margin-top: 1em;
}

@media screen and (max-width: 783px) {
    .slide1 .col-sm-8 {
        max-width: 90%;
    }
    .quote-slide1 {
        max-width:383px;
    }
    p.txt-slide-1 {
        padding-left: 10px;
    }
    p.signature-right {
        margin-right: 25%;
    }
    .slide1 {
        padding-top: 15em;
    }
    img.logo-boussole-pro {
        margin-left: 0px;
    }
}

@media screen and (max-width: 564px) {
    .slide1 .col-sm-8 {
        max-width: 100%;

    }
    .slide1 .middle-container-2 {
        display: table;
        position: relative;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .slide1  .middle-text-2 {
        float: none !important;
        display: table-cell;
        vertical-align: middle;
    }
    p.txt-slide-1 {
        margin-top: 2.2em;
        font-size:1.3em;
        max-width: 500px;
    }
    .slide1 {
        padding-top: 12em;
    }
    h1 {
        margin-top: 1em;
    }
}
@media screen and (max-width: 510px) {

    p.signature-right {
        margin-right: 45%;
    }
    .slide1 .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media screen and (max-width: 399px) {
    img.logo-wakeup {
        width: 110px;
    }
}
@media screen and (max-width: 340px) {
    p.quote-item {
        font-size: 10em;
        line-height: 0.7em;
        margin-bottom: 0.5em;
    }
}

.carousel-app {
    position: absolute;
    top: 320px;
    right: -50px;
    width: 40%;
}

.carousel-app .carousel-inner {
    border-radius: 20px;
    border: solid #f9edcf 4px;
}

.carousel-app .carousel-indicators {
    bottom: -70px;
}

.carousel-app .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #f9edcf;
    margin-left: 7px;
    margin-right: 7px;
}

.carousel-app .carousel-indicators li.active {
    background-color: #ff0055;
}

/********** SLIDE 1 ***********/
/******************************/
/******************************/
/********** SLIDE TABS ***********/

section.slide-tabs {
    font-family: 'Raleway-SemiBold';
    margin-bottom: 0px;
}

.tab-block {
    margin-bottom: 120px;
    cursor: pointer;
}

.tab1 {
    background-color: #f68443;
}

.tab2 {
    background-color: #151D78;
}

.tab3 {
    background-color: #10B580;
}

.tab-block .content {
    width: 60%;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-block .number {
    position: absolute;
    font-size: 100px;
    left: 10%;
    color: rgba(0, 0, 0, .1);
}

.tab-block .content img {
    width: 30%;
}

.tab-block .content h3 {
    color: #f9edcf;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -70px;
    border-top: 70px solid #f68443;
    display: none;
}

.tab-block.active .arrow-down {
    display: block;
}

.tab1 .arrow-down {
    border-top-color: #f68443;
}

.tab2 .arrow-down {
    border-top-color: #151D78;
}

.tab3 .arrow-down {
    border-top-color: #10B580;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content h2 {
    color: #f68443;
    font-size: 1.2em;
    font-weight: 500;
    margin: 30px auto;
}

.tab-content ul {
    list-style: none; /* Remove default bullets */
}

.tab-content ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #f68443; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.tab-content li {
    font-weight: 600;
}

.tab-content video {
    margin-bottom: 0;
}

/********** SLIDE TABS ***********/
/******************************/
/******************************/
/********** SLIDE SEB ***********/

.slide2 .container-fluid {
    max-width: 100%;
    padding-left: 0px;
}
.slide2 .col-sm-4 {
    padding-left: 0px;
}

.container-text-slide2 {
    max-width: 600px;
    margin-left: 5em;
    margin-bottom: 2em;
    position: relative;
    margin-top: 10%;
}

h2 {
    color: #343151;
    font-family: 'Raleway-Black';
}

h2.title-vision {
    max-width: 550px;
    margin-top: 2em;
}

.slide2 p {
    color: #1e1e1e;
    padding-left: 0px;
    font-size:1.3em;
    margin-top: 1em;
}

p.details-vision {
    margin-bottom: 2em;
    margin-top: 2em;
}

p.signature-left {
    color:#343151;
    font-family: 'Raleway-Bold';
    opacity: 20%;
    font-size:1.5em;
    line-height: 1.2em;
    border-style:solid ;
    border-width: 0px 0px 0px 2px;
    border-color: #1e1e1e;
    padding-left: 10px;
    margin-top: 2em;
    margin-right: 2em;
    position: absolute;
    bottom: 7%;
}

.bloc-droite-seb {
    position: relative;
    padding-top: 5em;
}

img.line-uncertainty {
    margin-left: -10%;
    max-width: 80%;
}

@media screen and (max-width: 1400px) {
    .bloc-gauche-seb {
        width: 440px;
    }
    .bloc-gauche-seb img {
        width: 440px;
    }
    .bloc-droite-seb {
        position: relative;
        padding-top: 3em;
        width: 50%;
    }
    .container-text-slide2 {
        margin-left: 0em;
        margin-bottom: 2em;
    }
    .bloc-droite-seb {
        padding-top: 3em;
    }
    img.line-uncertainty {
        margin-left: -15%;
        max-width: 100%;
    }

}
@media screen and (max-width: 1200px) {
    img.line-uncertainty {
        margin-left: -15%;
        max-width: 120%;
    }
    .slide2 p {
        padding-left: 0px;
        font-size:1.3em;
        margin-top: 1em;
    }
    p.signature-left {
        padding-left: 10px;
    }
}

@media screen and (max-width: 973px) {
    .bloc-droite-seb {
        margin-left: -1.5em;
    }
}
@media screen and (max-width: 960px) {
    .bloc-gauche-seb {
        width: 340px;
    }
    .bloc-gauche-seb img {
        width: 340px;
    }
    .bloc-droite-seb {
        padding-top: 2em;
        width: 55%;
    }
    img.line-uncertainty {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .bloc-gauche-seb {
        width: 340px;
        float: left;
    }
    .bloc-gauche-seb img {
        width: 340px;
    }
    .bloc-droite-seb {
        padding-top: 2em;
        width: 55%;
        float: left;
    }
    .slide2 {
        padding-top: 0px;
    }
}
.visible-small-2 {
    display: none;
}
@media screen and (max-width: 767px) {
    .hidden-small-2 {
        display: none;
    }
    .visible-small-2 {
        display: initial;
    }
    .bloc-droite-seb {
        padding-top: 2em;
        width: 100%;
        float: initial;
        margin-left: 0em;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container-text-slide2 {
        max-width: 100%;
    }
    .slide2 .container-fluid {
        padding-right: 0px;
    }
    .container-text-slide2 h2 , .container-text-slide2 p {
        padding-left: 1em;
        padding-right: 1em;
    }
    .container-text-slide2 h2 {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .container-text-slide2 p {
        margin-top: 1em;
    }
    p.signature-left {
        margin-left: 2em;
        margin-bottom: 2em;
    }
    img.visible-small-2.seb {
        max-width: 80%;
    }
}

/********** SLIDE SEB ***********/
/******************************/
/******************************/
/********* SLIDE WE *********/

section.slide-we {
    background-color: #f9edcf;
    padding-top: 100px;
    padding-bottom: 120px;
    margin-bottom: 0;
}

.slide-we h2 {
    color: #3dadad;
    margin: 1em;
    font-size: 2.2em;
}

.slide-we .item {
    font-family: 'Raleway-Black';
    margin-left: 2em;
    margin-bottom: 1em;
    font-size: 1.3em;
}

.slide-we .item img {
    width: 4em;
    margin-right: 20px;
}

@media screen and (max-width: 910px) {
    .slide-we .item {
        padding-top: 5px;
    }
}
@media screen and (max-width: 768px) {
    .slide-we {
        margin-left: 10%;
    }
}
@media screen and (max-width: 600px) {
    .slide-we {
        margin-left: 1em;
        padding-right: 1em;
    }
    .slide-we .middle-container {
        display: table;
        position: relative;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .slide-we  .middle-text {
        float: none !important;
        display: table-cell;
        vertical-align: middle;
    }
    img.ico-pulse {
        min-width: 65px;
    }
}
@media screen and (max-width: 380px) {
    .slide-we {
        margin-left: 0em;
        padding-right: 0em;
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

/********* SLIDE WE *********/
/******************************/
/******************************/
/********* SLIDE PLAN **********/

section.slide-plan {
    padding-bottom: 8em;
    padding-top: 2em;
    background-color: rgba(250,250,250,1);
}

.slide-plan h1 {
    color: #3dadad;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.card {
    display: inline-flex;
    width: 30%;
    min-width: 290px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card.enterprises {
    background-color: #3dadad;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
    font-family: 'Raleway-Bold';
    margin-bottom: 2px;
    font-size: 1.5em;
}

.enterprises .card-title {
    color: #f9edcf;
}

.card-subtitle {
    font-family: 'Raleway-Bold';
    color: grey;
    font-size: .9em;
}

.price {
    font-family: Raleway-Black;
    color: #3dadad;
    font-size: 3em;
    position: relative;
}

.price .symbol {
    content: "€";
    font-size: .4em;
    position: absolute;
    left: -1em;
    top: .6em;
}

.price .times {
    font-size: .35em;
    color: #f68443;
    font-family: Raleway-bold;
}

.card-text {
    line-height: 1.2em;
    font-size: .9em;
    margin-top: 10px;
}

.enterprises .card-text {
    color: white;
    margin-top: 3.2em;
}

.card .btn-cta-boussolepro {
    font-family: 'Raleway-Bold';
    padding: .3em 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.enterprises .btn-cta-boussolepro {
    background-color: white;
    color: #ff0055;
}

.enterprises .btn-cta-boussolepro:hover {
    background-color: #efefef;
    color: #ef0045;
}

/********* SLIDE PLAN **********/
/******************************/
/******************************/
/********** SLIDE ANAIS ***********/

section.slide-anais {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    padding-top: 12em;
}

.quote-anais {
    position: relative;
    font-family: 'Raleway-BlackItalic';
    color: #f9edcf;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 1.5em;
}

.quote-mark {
    position: absolute;
    left: -.6em;
    top: -.1em;
    font-size: 4em;
    font-family: 'Raleway-Bold';
    line-height: 1em;
}

.slide-anais img {
    width: 6em;
}

p.signature-right {
    color:white;
    font-family: 'Raleway-Bold';
    opacity: 20%;
    font-size:1.5em;
    line-height: 1.2em;
    border-style:solid ;
    border-width: 0px 1px 0px 0px;
    border-color: white;
    padding-right: 10px;
    margin-top: 9em;
    position: relative;
    text-align: right;
    float:right;
    width: 100%
}

/********** SLIDE ANAIS ***********/
/******************************/
/******************************/
/******** RESPONSIVE **********/

@media screen and (max-width: 1120px) {


}
@media screen and (max-width: 992px) {



}
@media screen and (max-width: 950px) {

}
@media screen and (max-width: 767px) {



}
@media screen and (max-width: 550px) {


}
@media screen and (max-width: 400px) {

}
